<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../chenjielayuiLib/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../chenjielayuiLib/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">问题搜索</label>
                            <div class="layui-input-inline">
                                <input type="text" name="question" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary checkIsSelec"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <!--  <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button> -->
        <!--<script type="text/html" id="toolbarDemo">-->
        <!--<div class="layui-btn-container " id="kkBar">-->
        <!--&lt;!&ndash;<button class="checkIsSelect layui-btn  data-add-btn  " lay-event="add"> 医生设置 </button>&ndash;&gt;-->
        <!--<button type="button" class="checkIsSelect layui-btn layui-btn-disabled"lay-event="doctorSetting" >医生设置</button>-->
        <!--<button type="button" class="checkIsSelect layui-btn layui-btn-disabled"lay-event="serviceSetting" >客服设置</button>-->
        <!--<button type="button" class="checkIsSelect layui-btn layui-btn-disabled"lay-event="customerSetting" >客户设置</button>-->
        <!--<button type="button" class="checkIsSelect layui-btn layui-btn-disabled"lay-event="PayRecord" >支付记录</button>-->
        <!--<button type="button" class="checkIsSelect layui-btn layui-btn-disabled"lay-event="RefundRecord" >退款记录</button>-->
        <!--<button type="button" class="checkIsSelect layui-btn layui-btn-disabled"lay-event="changePublicDoctor" >更换公共医生</button>-->
        <!--&lt;!&ndash;<button type="button" class="checkIsSelect layui-btn "lay-event="add" >医生设置</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="checkIsSelect layui-btn "lay-event="ad" >客服设置</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="checkIsSelect layui-btn "lay-event="PayRecord" >支付记录</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="checkIsSelect layui-btn "lay-event="RefundRecord" >退款记录</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="layui-btn layui-btn-primary"lay-event="add">医生设置</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="layui-btn"lay-event="add">客服设置</button>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="layui-btn-container">-->
        <!--<button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 客服设置 </button>-->
        <!--</div>-->
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container" id="kkBar">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
            </div>

        </script>


        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-danger layui-btn-xs data-count-edit" lay-event="delete">删除</a>
            <!--<input type="checkbox" name="close" checked=true lay-skin="switch" lay-text="启用|禁用" lay-event="isDisable">-->
            <!--<a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>-->
            <!--<a class="layui-btn layui-btn-xs layui-btn-danger " lay-event="recommand">推荐 </a>-->
        </script>

    </div>
</div>
<script src="../chenjielayuiLib/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script type="text/javascript"  th:inline="none">

    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            disableData,
            rowDisableData;
        var disasterNumber = $("#disasterNumber").val();
        table.render({
            elem: '#currentTableId',
            url: '/questionAnswer/findAll',
            toolbar: '#toolbarDemo',
            cellMinWidth: 60,
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type:'numbers'},
                // {type: 'checkbox'},
                {type:'radio'},
                {field: 'id', title: 'id',hide:true},
                {field: 'question',edit:'question', title: '问题'},
                // {field: 'openId', width: 100, title: '公众号id'},
                {field: 'optionA', edit:'optionA', title: '选项A'},
                {field: 'optionB', edit:'optionB', title: '选项B'},
                {field: 'optionC', edit:'optionC', title: '选项C'},
                {field: 'answer',edit:'answer',  title: '答案'},
                // {field: 'gender', width: 50,title: '性别'},
                // // {field: 'photo', width: 50, title: '头像', },
                // {field: 'realName',  title: '真实姓名',},
                // {field: 'companyName',  title: '单位名称',},
                // {field: 'mobilephone',  title: '手机号'},
                // {field: 'registerTime', title: '注册时间'},
                // //{field: 'email', width: 100, title: '电子邮箱'},
                // {field: 'type', title: '客户类型'},
                // {field: 'doctorType',  title: '医生类型'},
                // {field:'hospitalName',title:'工作医院单位',hide:true},
                // //{field: 'hospitalId', minwidth: 100, title: '所属医院'},
                // //{field: 'title', minwidth: 50, title: '职称'},
                // //{field: 'department', minwidth: 50, title: '科室'},
                // //{field: 'specialty', minwidth: 50, title: '特长'},
                // {field: 'isRecommend', title: '是否推荐'},
                // //{field: 'chatId', minwidth: 200, title: '环信聊天id'},
                // //{field: 'userId', minwidth: 100, title: '用户id'},
                // {field: 'isPayCourse',  title: '是否购买付费课程'},
                // //{field: 'isDisable', title: '是否禁用'},
                {title: '操作', width:200, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [20, 50, 100,500],
            limit: 50,
            page: true,
            //skin: 'row'
            //even:true
        });
        table.on('edit(currentTableFilter)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            $.ajax({
                url: '/questionAnswer/save',
                method: 'post',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'JSON',
                success: function (res) {
                    if (res.code = '0') {
                        var index = layer.alert(res.msg, function () {
                            // 关闭弹出层
                            layer.close(index);
                        });
                    } else {
                        layer.alert(res.msg)
                    }
                },
                error: function (data) {
                    layer.alert(JSON.stringify(data))
                }
            });
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            console.log(disableData);
            var result = JSON.stringify(data.field);
            //layer.alert(result, {
            //    title: '最终的搜索信息'
            //});
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');
            return false;
        });
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event==='add'){
                var index = layer.open({
                    title: '题库添加',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['700px', '400px'],
                    content: '/questionAnswer/findAddQuestionAnswerHtml',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }

        });
        // table.on('radio(currentTableFilter)',function(obj){
        //
        //     if (obj.checked) {
        //         $("#kkBar").find('button').each(function (i, n) {
        //             var $this = $(n);
        //             $this.removeClass('layui-btn-disabled')
        //             $this.addClass('layui-btn-normal');
        //         });
        //     }else if(!obj.checked){
        //         $("#kkBar").find('button').each(function (i, n) {
        //             //正确用法
        //             var $this = $(n);
        //             $this.removeClass('layui-btn-normal')
        //             $this.addClass('layui-btn-disabled');
        //         });
        //     }
        //
        // });
        // table.on('toolbar(currentTableFilter)', function (obj) {
        //
        //     var checkdata = table.checkStatus('currentTableId');
        //     if (!checkdata.data[0]) {
        //         layer.msg("请选择一条记录");
        //         return;
        //     }
        //     var checkData = checkdata.data[0];
        //     if (obj.event === 'doctorSetting') {
        //         var index = layer.open({
        //             title: '医生设置',
        //             type: 2,
        //             shade: 0.2,
        //             maxmin: true,
        //             shadeClose: true,
        //             area: ['700px', '400px'],
        //             content: '/customer/editDoctor?id=' + checkData.id,
        //             //url:'/customer/editDoctor',
        //             //content: '/user/toEdit?id=0',
        //         });
        //         $(window).on("resize", function () {
        //             layer.full(index);
        //         });
        //
        //     }
        //     else if (obj.event === 'serviceSetting') {
        //         //
        //         // var inde = layer.open({
        //         //     title: '客服设置',
        //         //     type: 2,
        //         //     shade: 0.2,
        //         //     maxmin: true,
        //         //     shadeClose: true,
        //         //     area: ['50%', '250px'],
        //         //     content: '/customer/editService?id=' + checkData.id,
        //         //     //url:'/customer/editDoctor',
        //         //     //content: '/user/toEdit?id=0',
        //         // });
        //         // $(window).on("resize", function () {
        //         //     layer.full(inde);
        //         // });
        //         var customerdata = new Object();
        //         customerdata.id = new String(checkData.id);
        //         customerdata.type = '客服';
        //         $.ajax({
        //             url: '/customer/save',
        //             method: 'post',
        //             data: JSON.stringify(customerdata),
        //             contentType: 'application/json',
        //             dataType: 'JSON',
        //             success: function (res) {
        //                 if (res.code = '0') {
        //                     var index = layer.alert(res.msg, function () {
        //                         // 关闭弹出层
        //                         layer.close(index);
        //                     });
        //                 } else {
        //                     layer.alert(res.msg)
        //                 }
        //             },
        //             error: function (data) {
        //                 layer.alert(JSON.stringify(data))
        //             }
        //         });
        //         return false;
        //     }
        //     else if (obj.event === 'customerSetting') {
        //         var customerdata = new Object();
        //         customerdata.id = new String(checkData.id);
        //         customerdata.type = '客户';
        //         $.ajax({
        //             url: '/customer/save',
        //             method: 'post',
        //             data: JSON.stringify(customerdata),
        //             contentType: 'application/json',
        //             dataType: 'JSON',
        //             success: function (res) {
        //                 if (res.code = '0') {
        //                     var index = layer.alert(res.msg, function () {
        //                         // 关闭弹出层
        //                         layer.close(index);
        //                     });
        //                 } else {
        //                     layer.alert(res.msg)
        //                 }
        //             },
        //             error: function (data) {
        //                 layer.alert(JSON.stringify(data))
        //             }
        //         });
        //         return false;
        //
        //     }
        //     else if (obj.event === 'delete') {
        //         // 监听删除操作
        //         var checkStatus = table.checkStatus('currentTableId')
        //             , data = checkStatus.data;
        //         layer.alert(JSON.stringify(data));
        //     }
        //     else if (obj.event === 'PayRecord') {
        //         var ind = layer.open({
        //             title: '支付记录',
        //             type: 2,
        //             shade: 0.2,
        //             maxmin: true,
        //             shadeClose: true,
        //             area: ['80%', '80%'],
        //             content: '/customerPayRecord/openCustomerPayRecord?openid=' + checkData.openId,
        //
        //         });
        //         $(window).on("resize", function () {
        //             layer.full(ind);
        //         });
        //     }
        //     else if (obj.event === 'RefundRecord') {
        //         var indexl = layer.open({
        //             title: '退款记录',
        //             type: 2,
        //             shade: 0.2,
        //             maxmin: true,
        //             shadeClose: true,
        //             area: ['80%', '80%'],
        //             content: '/customerRefundRecord/openCustomerRefundRecord?openid=' + checkData.openId,
        //
        //         });
        //         $(window).on("resize", function () {
        //             layer.full(indexl);
        //         });
        //     }
        //     else if (obj.event === 'changePublicDoctor') {
        //         console.log(checkData.doctorType);
        //         if (checkData.doctorType == 'Public') {
        //             var changeDoctor = layer.open({
        //                 title: '更换公共医生',
        //                 type: 2,
        //                 shade: 0.2,
        //                 maxmin: true,
        //                 shadeClose: true,
        //                 area: ['80%', '80%'],
        //                 content: '/customer/changePublicDoctor?hospitalName=' + checkData.hospitalName,
        //
        //             });
        //             $(window).on("resize", function () {
        //                 layer.full(changeDoctor);
        //             });
        //         }
        //         else {
        //             layer.msg("请选择公共医生")
        //         }
        //     }
        // });
        table.on('tool(currentTableFilter)', function (obj) {
            //console.log(obj);
            var data = obj.data;
            if (obj.event==='delete'){
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url : '/questionAnswer/questionAnswerDelete?id='+data.id,
                        method : 'get',
                        dataType : 'JSON',
                        success : function(res) {
                            if (res.code = '0') {
                                var index = layer.alert(res.msg, function() {
                                    obj.del();
                                    layer.close(index);
                                });
                            } else {
                                layer.alert(res.msg)
                            }
                        },
                        error : function(data) {
                            layer.alert(JSON.stringify(data))
                        }
                    });

                });


            }

        });


    });
</script>

</body>
</html>