<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../chenjielayuiLib/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../chenjielayuiLib/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">

    <div class="layui-row">
        <div class="layui-form-item layui-col-md10">
            <label class="layui-form-label required">物品名</label>
            <div class="layui-input-block">
                <input type="hidden" name="id" th:value="${goods.id}"class="layui-input">
                <input type="text" name="goodsName" th:value="${goods.goodsName}"class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md10">
            <label class="layui-form-label required">物品描述</label>
            <div id="editor" class="layui-input-block"></div>

            <div class="layui-form-item layui-form-text" style="display: none;">
                <label class="layui-form-label required">物品描述</label>
                <div class="layui-input-block" >
                <textarea lay-verify="required" id="content" name="goodsDescription" th:text="${goods.goodsDescription}"
                          class="layui-textarea" placeholder="请输入项目描述"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md5">
            <div class="layui-form-item">
                <label class="layui-form-label required">物品图像</label>
                <div class="layui-upload layui-inline">
                    <div style="margin: 10px 0">
                        <img class="layui-upload-img" id="demo1" width="200px" height="200px" th:src="${goods.goodsPhoto}">
                        <p id="demoText"></p>
                    </div>
                    <input id="goodsPhoto" type="hidden" name="goodsPhoto" th:src="${goods.goodsPhoto}"
                           class="layui-input">
                    <button type="button" class="layui-btn uploadFileBtn" id="uploadImage" style="width: 200px">上传图片</button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item layui-col-md10">
            <label class="layui-form-label required">原价</label>
            <div class="layui-input-block">
                <input type="text" name="goodsOriginalPrice"  class="layui-input" th:value="${goods.goodsOriginalPrice}">
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item layui-col-md10">
            <label class="layui-form-label required">现价</label>
            <div class="layui-input-block">
                <input type="text" name="goodsCurrentPrice"  class="layui-input" th:value="${goods.goodsCurrentPrice}">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../chenjielayuiLib/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="../chenjielayuiLib/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script src="../layui/wangEditor/wangEditor.js"></script>
<script th:inline="javascript">
    layui.use(['element', 'layer', 'form', 'upload'], function() {
        var element = layui.element,
            layer = layui.layer,
            form = layui.form,
            $ = layui.$,
            upload = layui.upload;

        //wangEditor富文本编辑器
        var E = window.wangEditor;

        //执行图片上传实例
        //普通图片上传
        //执行图片上传实例
        //普通图片上传
        var uploadInst = upload.render({
            elem: '.uploadFileBtn',
            url: '/file/upload/image',//改成您自己的上传接口
            field:'image',
            before: function(obj){

                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#uploadImage').attr('src', result); //图片链接（base64）
                });

            },
            done: function(res){
                //如果上传失败
                if(res.code != 0){
                    return layer.msg('上传失败');
                }else{
                    //上传成功
                    console.log("上传成功");

                    for(var i=0;i<res.data.length;i++){
                        $('#goodsPhoto').val(res.data[i]);
                    }

                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        var editor = new E('#editor');
        editor.customConfig.uploadImgServer = "/file/upload/image";
        editor.customConfig.uploadFileName = 'image';
        editor.customConfig.pasteFilterStyle = false;
        editor.customConfig.uploadImgMaxLength = 5;
        editor.customConfig.uploadImgHooks = {
            // 上传超时
            timeout: function (xhr, editor) {
                layer.msg('上传超时！')
            },
            // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
            customInsert: function (insertImg, result, editor) {
                console.log(result);
                if (result.code == 0) {
                    var url = result.data;
                    url.forEach(function (e) {
                        insertImg(e);
                    })
                } else {
                    layer.msg(result.msg);
                }
            }
        };
        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $('#content').val(html)
        }
        editor.customConfig.customAlert = function (info) {
            layer.msg(info);
        };
        editor.create();
        editor.txt.html($('#content').val());
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url: '/goods/save',
                method: 'post',
                data: JSON.stringify(data.field),
                contentType: 'application/json',
                dataType: 'JSON',
                success: function (res) {
                    if (res.code = '0') {
                        var index = layer.alert(res.msg, function () {
                            // 关闭弹出层
                            layer.close(index);
                            miniTab.deleteCurrentByIframe();
                            var layerClose = parent.layer.getFrameIndex(window.name);
                            //parent.location.reload(); //刷新父页面
                            parent.layer.close(layerClose);
                        });
                    } else {
                        layer.alert(res.msg)
                    }
                },
                error: function (data) {
                    layer.alert(JSON.stringify(data))
                }
            });
            return false;
        });
    });
</script>
</body>
</html>