<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="./layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="./css/uniform.css">
</head>
<body>
<div class="layui-row" style="padding-left: 10px">
    <div class="layui-col-md4" style="margin-right: 10px; margin-bottom: 10px">
        <div class="layui-panel">
            <div style="width: 140px; height: 140px; background: url(./img/useravatar.jpg); background-size:cover; text-align: center; line-height: 140px; float: left">
                <div style="height: inherit;background: rgba(0,0,0,0.5)">
                    <i class="layui-icon layui-icon-username" style="font-size: 90px; color: white"></i>
                </div>
            </div>
            <div style="position: relative; height: 140px; margin-left: 140px">
                <div class="layui-card-header">当前登录用户</div>
                <div class="layui-card-body">
                    <p style="padding: 5px" th:text="${curUsername}"></p>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="layui-col-md4">
        <div class="layui-panel">
            <div style="width: 140px; height: 140px; background: #f4e310; text-align: center; line-height: 140px; float: left">
                <i class="layui-icon layui-icon-user" style="font-size: 90px; color: white"></i>
            </div>
            <div style="position: relative; height: 140px; margin-left: 140px">
                <div class="layui-card-header">系统用户总数</div>
                <div class="layui-card-body">
                    <p style="padding: 5px; font-size: 38px" th:text="${curUserCount}"></p>
                </div>
            </div>
        </div>
    </div>-->
    <div class="layui-col-md4">
        <div class="layui-panel">
            <div style="width: 140px; height: 140px; background: #f4e310; text-align: center; line-height: 140px; float: left">
                <i class="layui-icon layui-icon-user" style="font-size: 90px; color: white"></i>
            </div>
            <div style="position: relative; height: 140px; margin-left: 140px">
                <div class="layui-card-header">微信用户总数</div>
                <div class="layui-card-body">
                    <p style="padding: 5px; font-size: 38px" th:text="${curCustomerCount}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-row" >
    <div class="layui-col-md5" style="margin: 10px">
        <div class="layui-panel">
            <div>
                <div class="layui-card-header">系统参数</div>
                <div class="layui-card-body">
                    <form class="layui-form" id="systemConfigForm">
                        <div class="layui-form-item">
                            <label class="layui-form-label">支付时长</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.paytime}" type="text" name="paytime" required  lay-verify="required" placeholder="单位 分" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">自动确认</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.autofinishtime}" type="text" name="autofinishtime" required lay-verify="required" placeholder="单位 小时" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">订单取消</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.ordercanceltime}" type="text" name="ordercanceltime" required lay-verify="required" placeholder="单位 分" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">服务电话</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.servicephone}" type="text" name="servicephone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">退款电话</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.refundphone}" type="text" name="refundphone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">短信限制</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.msgcount}" type="number" name="msgcount" required lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">短信有效期</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.msgtime}" type="number" name="msgtime" required lay-verify="required" placeholder="单位 秒" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="saveBtn">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md4" style="margin: 10px">
        <div class="layui-panel" style="margin-bottom: 10px">
            <div class="layui-card-header">当前热门帖子</div>
        </div>
        <div th:each="post:${curHotPost}" class="layui-panel" style="margin-bottom: 10px">
            <form>
                <input class="postid" th:value="${post.postid}" type="hidden">
                <div class="layui-card-header" style="padding: 15px">
                    <img th:src="${post.avatar}" style="height: 40px; width: 40px; background-repeat: no-repeat; background-size: cover; border-radius: 20px; float: left;margin-right: 15px">
                    <p th:text="${post.topic}"></p>
                </div>
                <div class="layui-card-body" th:text="${post.content}" style="height: 140px; overflow: hidden; margin-bottom: 10px"></div>
                <div style="margin-bottom: 10px; margin-left: 20px">
                    <button style="width: 150px" class="layui-btn" lay-submit lay-filter="postDetail">详细</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="./layui/layui.js"></script>
<script>
    layui.use(['element','layer', 'table', 'form'], function(){
        var element = layui.element,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            $ = layui.$;

        //查看帖子信息
        form.on('submit(postDetail)', function (obj) {

            var postid = $(".postid").val();

            console.log(postid);
            var index = layer.open({
                title: '编辑主题',
                type: 2,
                shade: 0.2,
                maxmin:true,
                shadeClose: true,
                area: ['950px', '480px'],
                content: '/post/toEdit?postid='+postid,
                end:function () {
                    return false;
                }
            });
            $(window).on("resize", function () {
            });
            return false;
        })

        //获取表单初始数据 用于判断是否修改表单
        var formInit = $("#systemConfigForm").serializeArray();
        var TextInit = {};
        $.each(formInit, function (i, v) {
            TextInit[v.name] = v.value;
        })
        var TextBefore = JSON.stringify(TextInit);

        form.on('submit(saveBtn)', function (data) {

            //判断是否有修改
            var TextAfter = JSON.stringify(data.field);

            if (TextBefore == TextAfter) {
                layer.msg("您没有做任何修改!");
                return false;
            }

            $('#systemconfigSubmit').attr("disabled","true");
            $.ajax({
                url : '/updateSystemConfig',
                method : 'post',
                data : JSON.stringify(data.field),
                contentType : 'application/json',
                dataType : 'JSON',
                success : function(res) {
                    if (res.code = '0') {
                        var index = layer.alert(res.msg, function() {
                            // 关闭弹出层
                            layer.close(index);
                            var iframeIndex = parent.layer
                                .getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                            window.parent.location.reload();
                        });
                    } else {
                        layer.alert(res.msg)
                    }
                    $('#systemconfigSubmit').attr("disabled","false");
                },
                error : function(data) {
                    layer.alert(JSON.stringify(data));
                    $('#systemconfigSubmit').attr("disabled","false");
                }
            });
            return false;
        });
    });
</script>
</body>
</html>