<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="./layui/css/layui.css">
</head>
<body>
<div class="layui-row" >
    <div class="layui-col-md3" style="margin: 10px">
        <div class="layui-panel">
            <div style="width: 140px; height: 140px; background: url(./img/useravatar.jpg); background-size:cover; text-align: center; line-height: 140px">
                <div style="height: inherit;background: rgba(0,0,0,0.5)">
                    <i class="layui-icon layui-icon-username" style="font-size: 90px; color: white"></i>
                </div>
            </div>
            <div style=""></div>
            <div style="position: absolute; top: 0; left: 150px">
                <div class="layui-card-header">当前登录用户</div>
                <div class="layui-card-body">
                    <p style="padding: 5px" th:text="${curUsername}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md3" style="margin: 10px">
        <div class="layui-panel">
            <div style="width: 140px; height: 140px; background: #f4e310; text-align: center; line-height: 140px">
                <i class="layui-icon layui-icon-user" style="font-size: 90px; color: white"></i>
            </div>
            <div style="position: absolute; top: 0; left: 150px">
                <div class="layui-card-header">系统用户总数</div>
                <div class="layui-card-body">
                    <p style="padding: 5px; font-size: 38px" th:text="${curUserCount}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md3" style="margin: 10px">
        <div class="layui-panel">
            <div style="width: 140px; height: 140px; background: #f4e310; text-align: center; line-height: 140px">
                <i class="layui-icon layui-icon-user" style="font-size: 90px; color: white"></i>
            </div>
            <div style="position: absolute; top: 0; left: 150px">
                <div class="layui-card-header">系统用户总数</div>
                <div class="layui-card-body">
                    <p style="padding: 5px; font-size: 38px" th:text="${curUserCount}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-row" >
    <div class="layui-col-md5" style="margin: 10px">
        <div class="layui-panel">
            <div>
                <div class="layui-card-header">系统参数</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">支付时长</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.paytime}" type="text" name="paytime" required  lay-verify="required" placeholder="单位 分" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">自动确认</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.autofinishtime}" type="text" name="autofinishtime" required lay-verify="required" placeholder="单位 小时" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">订单取消</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.ordercanceltime}" type="text" name="ordercanceltime" required lay-verify="required" placeholder="单位 分" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">服务电话</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.servicephone}" type="text" name="servicephone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">退款电话</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.refundphone}" type="text" name="refundohone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">短信限制</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.msgcount}" type="number" name="msgcount" required lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">短信有效期</label>
                            <div class="layui-input-inline">
                                <input th:value="${systemconfig.msgtime}" type="number" name="msgtime" required lay-verify="required" placeholder="单位 秒" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./layui/layui.js"></script>
<script>
    layui.use(['element','layer', 'table'], function(){
        var element = layui.element,
            layer = layui.layer,
            table = layui.table,
            $ = layui.$;
    });
</script>
</body>
</html>