<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="./layui/css/layui.css">
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">应急指南 开发中</div>
            <!-- 头部区域（可配合layui 已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">nav 1</a></li>
                <li class="layui-nav-item"><a href="">nav 2</a></li>
                <li class="layui-nav-item"><a href="">nav 3</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">nav groups</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">menu 11</a></dd>
                        <dd><a href="">menu 22</a></dd>
                        <dd><a href="">menu 33</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img" th:text="${curUsername}">
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">set 1</a></dd>
                        <dd><a href="">set 2</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">Sign out</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree"  lay-filter="leftNav">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">系统管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" id="demo">用户管理</a></dd>
                            <dd><a href="javascript:;">配置信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">menu group 2</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">list 2-1</a></dd>
                            <dd><a href="javascript:;">list 2-2</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="javascript:;">menu item 123</a></li>
                    <li class="layui-nav-item"><a href="">the links</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-tab" lay-filter="mainTabs">
                <ul class="layui-tab-title" >
                </ul>
            </div>
            <table class="layui-hide" id="userTable" lay-filter="userTableFilter"></table>

        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            底部固定区域
        </div>
    </div>
    <script src="layui/layui.js"></script>
    <script th:inline="none">
        //JavaScript代码区域
        layui.use(['element','layer', 'table'], function(){
            var element = layui.element,
                layer = layui.layer,
                table = layui.table;

            //监听导航栏点击事件
            element.on('nav(leftNav)', function (data) {
                //响应导航栏添加Tab
                element.tabAdd('mainTabs', {
                    title: data.context.innerHTML,
                    content: '', //支持传入html
                    id: '选项卡标题的lay-id属性值'
                });
            });
            //执行渲染
            table.render({
                elem: '#userTable',
                url: 'user/findall',
                cols: [[
                    {field: 'id', title: 'ID', width:80},
                    {field: 'username', title: '用户名', width:80},
                    {field: 'password', title: '密码', width:80},
                    {field: 'avatar', title: '头像', width:80},
                    {field: 'authority', title: '权限级别', width:80},
                    {field: 'status', title: '状态', width:80}
                ]] //设置表头
            });
        });
    </script>
</body>
</html>
