<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="./layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="./css/uniform.css">
</head>
<body style="background: white">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">应急指南 开发中</div>
            <!-- 头部区域（可配合layui 已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">nav 1</a></li>
                <li class="layui-nav-item"><a href="">nav 2</a></li>
                <li class="layui-nav-item"><a href="">nav 3</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">nav groups</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">menu 11</a></dd>
                        <dd><a href="">menu 22</a></dd>
                        <dd><a href="">menu 33</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img" th:text="${curUsername}">
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">set 1</a></dd>
                        <dd><a href="">set 2</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">Sign out</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree"  lay-filter="leftNav">
                    <li class="layui-nav-item" style="cursor: pointer">
                        <dd><a lay-id="indexPage">首页</a></dd>
                    </li>
                    <li class="layui-nav-item">
                        <a class="navFather" href="javascript:;">系统管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-id="userManagement">用户管理</a></dd>
                            <dd><a href="javascript:;" lay-id="authorityInfo">权限信息</a></dd>
                            <dd><a href="javascript:;" lay-id="configInfo">配置信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="navFather" href="javascript:;">仓库管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-id="findProductType">物资类别</a></dd>
                            <dd><a href="javascript:;" lay-id="findProductUnit">物资单位</a></dd>
                            <dd><a href="javascript:;">客户设定</a></dd>

                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="navFather" href="javascript:;">应急资料</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-id="findMainHtml">处理方案</a></dd>
                            <dd><a href="javascript:;" lay-id="findQuestionAnswerHtml">分析题库</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="navFather" href="javascript:;">标识管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-id="findRank">答题段位</a></dd>
                            <dd><a href="javascript:;" lay-id="findPersonaLogo">用户标签</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="navFather" href="javascript:;">社区管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">发帖记录</a></dd>
                            <dd><a href="javascript:;">回复记录</a></dd>
                            <dd><a href="javascript:;">客户信息</a></dd>
                            <dd><a href="javascript:;">救助站</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-tab layui-tab-card" id="mainTabs" lay-allowClose="true" lay-filter="mainTabs">
                <ul class="layui-tab-title">
                    <li lay-id="indexPage" class="layui-this">首页</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe frameborder="0" src= "/content" width="100%" height="100%"></iframe>
                    </div>
                </div>
            </div>
            <table class="layui-hide" id="userTable" lay-filter="userTableFilter"></table>

        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            底部固定区域
        </div>
    </div>
    <script src="layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use(['element','layer', 'table'], function(){
            var element = layui.element,
                layer = layui.layer,
                table = layui.table,
                $ = layui.$;

            //监听导航栏点击事件
            element.on('nav(leftNav)', function (data) {

                //阻止点击父级菜单创建页面
                if(data.attr("class") == 'navFather') {
                    return;
                }

                //判断点击的导航标签决定Tab展示页面
                var directPage = data.attr("lay-id");
                var title = data.context.innerHTML;

                //避免重复添加tab
                var tabs = document.getElementById("mainTabs");//获取Tab的容器
                var tabUl = tabs.getElementsByTagName("ul");//获取容器里的ul标签
                var tabLi = tabUl[0].getElementsByTagName("li");//获取li

                for( li of tabLi) {
                    if (li.getAttribute("lay-id") == directPage) {
                        //切换到刚刚创建的Tab页
                        element.tabChange('mainTabs',data.attr("lay-id"));
                        return;
                    }
                }

                switch (directPage) {
                    case 'userManagement': directPage = 'user/page'; break;
                    case 'authorityInfo': directPage = 'role/page'; break;
                    case 'configInfo': directPage = 'user/page'; break;
                    case 'indexPage': directPage = '/content'; break;
                    case 'findMainHtml': directPage = 'disaster/findMainHtml'; break;
                    case 'findQuestionAnswerHtml': directPage = 'questionAnswer/findQuestionAnswerHtml'; break;
                    case 'findRank': directPage = 'rank/findRankHtml'; break;
                    case 'findPersonaLogo': directPage = 'personalLogo/findPersonalLogoHtml'; break;
                    case 'findProductType': directPage = 'productType/findProductTypeHtml'; break;
                    case 'findProductUnit': directPage = 'productUnit/findProductUnitHtml'; break;
                }

                //响应导航栏添加Tab
                element.tabAdd('mainTabs', {
                    title: title,
                    content: '<iframe frameborder="0" src= "'+directPage+'" scrolling="no" height="100%" width="100%"></iframe>', //支持传入html
                    id: data.attr("lay-id")
                });
                //切换到刚刚创建的Tab页
                element.tabChange('mainTabs',data.attr("lay-id"));
            });
        });
    </script>
    <script>
        function SetWinHeight(obj)
        {
            var win=obj;
            if (document.getElementById)
            {
                if (win && !window.opera)
                {
                    if (win.contentDocument && win.contentDocument.body.offsetHeight)
                    {
                        if(win.contentDocument.body.offsetHeight<500){
                            win.height = 500;//设置最小高度
                        }else{
                            win.height = win.contentDocument.body.offsetHeight;
                        }
                    }
                    else if(win.Document && win.Document.body.scrollHeight)
                        win.height = win.Document.body.scrollHeight;
                }
            }
        }
    </script>
</body>
</html>
