<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body style="background-image: url(img/loginimage.png); background-repeat: no-repeat; background-size:cover ">
<div class="login">
    <div id="loginPanelTitle" class="alignCenter">
        <p id="mainTitle">应急指南 开发中</p>
        <p id="viceTitle">EmergencyGuide Devloping</p>
    </div>
    <form class="layui-form">
        <div class="loginInputDiv alignCenter">
            <input lay-vertify="required" name="username" type="text" class="loginInput" placeholder="请输入用户名">
            <input lay-vertify="required" name="password" type="password" class="loginInput" placeholder="请输入密码">
            <button lay-submit lay-filter="loginEvent" class="loginBtn">登 录</button>
        </div>
    </form>
</div>
<div class="blurDiv">
</div>

<!--layui-->
<script src="layui/layui.js"></script>
<script>
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer,
                $ = layui.jquery,
             form = layui.form;

        form.on('submit(loginEvent)', function (data) {
            $.ajax({
                url : '/doLogin',
                method : 'post',
                data:JSON.stringify(data.field),
                contentType : 'application/json',
                dataType : 'JSON',
                success: function (data) {
                    console.log(data);
                    if(data.msg == '操作失败') {
                        layer.msg("用户名或密码错误");

                    } else {
                        window.location = 'index';
                    }
                }
            });
            return false;
        })


    });
</script>

</body>
</html>